<div class= "container">
    <div class="row positioning">
            <div class="column-md-4 row-2">
            <div class="spacing">
            <img src="/images/beer.png" alt= "beer jug" id="beerSize" />
            </div>
            <div class="spacing">
            <button type="button" class="btn btn-primary light-blue"><a href="/beers">Check the beers</a> </button>
            </div>

            <div class="spacing">
            <button type="button" class="btn btn-primary light-blue"><a class="nav-item nav-link" href="/random-beers">Check the random beers</a></button>
            </div>
        </div>
    </div>
</div>
  