
{{#each response}}
<div class= "container">
    <div class="row">
            <div class="column-md-3 row-3">
                <div class="spacing2"></div>
                    <img src="{{image_url}}" alt="image pictures" id="pictureSize2" />
                </div>
            </div>
     </div>
</div>

<div class="col-md-9">
    {{name}}
</div>

<div>
    {{discription}}
</div>

<div>
    {{tagline}}
</div>

{{/each}}
